.items:hover {
    background-color: blue;
}

.items:hover .icons {
    background-color: white;
}

.text {
    color: grey;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    display: inline-block;
    display: flex;
    font-size: 16px;
}

.navicons {
    padding: 15px;
}

.naviconsArrangement {
    display: inline;
}

.cardsArrangement {
    display: flex;
    justify-content: center;
    width: 1000px;
    padding-left: 70px;
}

.card {
    width: 200px;
    height: 100px;
    margin: 10px;
}

.color-ACB {
    border-top-color: orange;
    border-width: 2px;
}
.color-LT1 {
    border-top-color: red;
    border-width: 2px;
}
.color-LT2 {
    border-top-color: blue;
    border-width: 2px;
}

.card-title {
    display: flex;
    width: 300px;
    height: 40px;
    margin: 10px;
    justify-content: left;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #525f7f;
}

.myChartArrangement {
    width: 800px;
    display: flex;
    justify-content: center;
}

.BarArrangement {
    width: 950px;
    display: flex;
    justify-content: center;
}

h4 {
    margin-left: 200px;
}

p {
    color: #003171;
    width: 300.2px;
    height: 24px;

    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
}
.NavbarArrangement {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.pagination {
    float: right;
}

.dateBox {
    background-color: #eff3f8;
    float: right;
    color: #003171;
    border-color: transparent;
    width: 226px;
    height: 36px;
    border-radius: 4px;
    background-color: #eff3f8;
}
.week {
    background-color: #eff3f8;
    float: right;
    color: #003171;
    border-color: transparent;

    border-radius: 4px;
    background-color: #eff3f8;
}

.tiny {
    color: #d9dfe7;
    width: 300px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
}
